{% extends 'base.html' %}

{% block content %}
    <p></p>
    <button onclick="myFunction()">Wydrukuj stronę</button>
    <button onclick="goBack()">Wróć</button>

    <h1>{{ object }}</h1>
    <p> {{ object.edition }}<br>
        Autor: {{ object.author }}<br>
        Prowadzący:<br>
        {% for host in object.edition.hosts.all %}
            {{ host.name }} {{ host.surname }}<br>
        {% endfor %}
    </p>
    <p> Goście:<br>
        {% for guest in object.guests.all %}
            {{ guest.surname }} |  {{ guest.phone }}<bR>
        {% endfor %}
    </p>
    <p> Lead: <br>{{ object.lead }}</p>
    <p> Treść: <br>{% autoescape off %}{{ object.content }}{% endautoescape %}</p>


    <button onclick="myFunction()">Wydrukuj stronę</button>
    <button onclick="goBack()">Wróć</button>
    <p></p>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        function myFunction() {
            window.print();
        }
    </script>

{% endblock %}