{% extends 'base.html' %}

{% block content %}
    <p></p>
     <button onclick="goBack()">Wróć</button>
    <p></p>



    <h2>{{ object }}</h2>
    <h3>Wydawca: <a href="{% url 'user-detail' pk=object.editor.id %}"> <span class="glyphicon glyphicon-user"></span> {{ object.editor.last_name }}</h3> </a>
    <h3>Prowadzący:
        {% for object in edition.hosts.all %}
            <a href="{% url 'host-detail' pk=object.id %}"><span class="glyphicon glyphicon-user"></span> {{ object.surname }} </a>|
        {% endfor %}
    </h3>
    <h3>Dokumentacje: </h3>
    {% for object in edition.documents.all %}
        <h4> {{ forloop.counter }}. <a href="{% url 'document-detail' pk=object.id %}"><span
                class="glyphicon glyphicon-book"></span> {{ object.topic }} </a>
            <a href="{% url 'user-detail' pk=object.author.id %}"> <span class="glyphicon glyphicon-user"></span> {{ object.author.last_name }} </a> <br></h4>
        <h5>Goście:
            {% for object in object.guests.all %}
                <a href="{% url 'guest-detail' pk=object.id %}"><span class="glyphicon glyphicon-user"></span> {{ object.surname }} </a>|
            {% endfor %}
        </h5>
        <p> - - -</p>
    {% endfor %}

      <p></p>
     <button onclick="goBack()">Wróć</button>
    <p></p>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

{% endblock %}