{% extends 'base.html' %}

{% block content %}
<h1>WYDANIE/DETAL</h1>
<p>Wydanie: {{ object }}</p>
<p>Wydawca: {{ object.editor.surname }}</p>

 - - - - -
<p>Doki:</p>

    {% for doc in edition.doc_editions.all %}
<p>
        <a href="{% url 'update-document' pk=doc.id %}">{{ doc.topic }} </a> - {{ doc.author }}<br>
            Goście:
            {% for guest in doc.guests.all %}
            {{ guest.surname }} |
            {% endfor %}

</p>
    {% endfor %}

- - - - -
<p>Prowadzący:
    {% for host in edition.hosts.all %}
        {{ host.surname }} |
    {% endfor %}
</p>


{%  endblock %}