{% extends 'base.html' %}

{% block content %}
    <p></p>
    <button onclick="goBack()">Wróć</button>

    <h1>{{ object }}</h1>

    <p> Telefon: {{ object.phone }}</p>
    <p> Telefon2: {{ object.alt_phone }}</p>
    <p> Notatki: {{ object.notes }}</p>
    <p> Ocena: {{ object.ocena }} </p>
    {# {{ object.get_ocena_display }}#}

    <p>
        Wizyty:<br>
        {% for object in guest.documents.all|dictsortreversed:"id" %}
            <a href="{% url 'document-detail' pk=object.id %}"><span
                    class="glyphicon glyphicon-book"></span> {{ object.topic }}</a> | <a href="{% url 'edition-detail' pk=object.edition.id %}"> {{ object.edition }} </a><br>
        {% endfor %}
    </p>


    <button onclick="goBack()">Wróć</button>
    <p></p>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}