{% extends 'base.html' %}

{% block content %}
    <p></p>
    <button onclick="goBack()">Wróć</button>

    <h2>{{ object }}</h2>

    {{ object.first_name }}<br>
    {{ object.last_name }}<br>
    {{ object.email }}<br>
    Tel. {{ object.phone }}<br>
    <p>
        Dokumentacje:<br>
        {% for object in object.documents.all|dictsortreversed:"id" %}
            {{ object.topic }} | {{ object.edition }}<br>
        {% endfor %}
    </p>


    <button onclick="goBack()">Wróć</button>
    <p></p>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

{% endblock %}