{% extends 'base.html' %}

{% block content %}

    <h2>Autorzy:</h2>
    <ul>
        {% for object in object_list %}
            <li>
                <a href="{% url 'user-detail' pk=object.id %}"> <span
                        class="glyphicon glyphicon-user"></span>  {{ object.first_name }} {{ object.last_name }} <span
                        class="glyphicon glyphicon-earphone"></span> {{ object.profile.phone }}  </a>
                <br>Ostatnie logowanie: {{ object.last_login }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}