<!doctype html>
{% load tinymce_tags %}
<html>
    <head>
        <meta charset="utf-8">
        {{ form.media.css }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    </head>
    <body>

     <p>
            _________________________________________________________
        </p>
        {%  if user.is_authenticated %}

        <p>
            <a href="{% url 'index' %}"> Start | </a>
            <a href="{% url 'authors' %}"> Autorzy | </a>
            <a href="{% url 'editions' %}"> Wydania | </a>
            <a href="{% url 'documents' %}"> Dokumentacje </a>
            | Jesteś zalogowany jako: {{ user.username }} <a href="{% url 'logout' %}"> Wyloguj!</a>
        </p>

        {% else %}
        <p> <a href="{% url 'user-login' %}"> zaloguj!</a></p>

        {% endif %}
        <p>
            _________________________________________________________
        </p>

         <fieldset>
    <div class="form-row">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" value="submit">Add</button>
    </form>
  </div>
</fieldset>


    <footer>

    </footer>

         {{ form.media.js }}
    </body>
</html>