{% load static %}

<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    {{ form.media.css }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cms.css' %}"/>
    {% block styles %}{% endblock %}
</head>
<body>
<div class="container">

    {% if user.is_authenticated %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CMS</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">Start</a></li>
                        <li><a href="{% url 'editions' %}">Wydania</a></li>
                        <li><a href="{% url 'documents' %}">Dokumentacje</a></li>
                        <li><a href="{% url 'guests' %}">Goście</a></li>
                        <li><a href="{% url 'hosts' %}">Prowadzący</a></li>
                        <li><a href="{% url 'authors' %}">Autorzy</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Zalogowany: {{ user.username }}
                        </a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% else %}

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'user-login' %}"><span class="glyphicon glyphicon-user"></span> Logowanie</a>
                    </li>
                </ul>
            </div>
        </nav>

    {% endif %}

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav text-left">

                <p>Dodaj:</p>
                <p><a href="{% url 'create-edition' %}"> Wydanie</a></p>
                <a href="{% url 'add-document' %}"> Dokumentację</a></p>
                <p><a href="{% url 'create-guest' %}">Gościa</a></p>
                <p><a href="{% url 'create-author' %}">Autora</a></p>
                <p><a href="{% url 'create-host' %}">Prowadzącego</a></p>
                <p><a href="#" class="not-active">Temat</a></p>

            </div>
            <div class="col-sm-8 text-left">

                {% block content %}



                {% endblock %}


            </div>

            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>PIERWSZY BLOK</p>
                </div>
                <div class="well">
                    <p>DRUGI BLOK</p>
                </div>
                <div class="well">
                    <p>TRZECI BLOK</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        {{ version }} {% autoescape off %}{{ mail }}{% endautoescape %}
    </footer>

</div>

{{ form.media.js }}
<p></p>
</body>
</html>