{% extends 'base_form.html' %}

{% block beforeform %}
    <h2>Znajdź dokumentację:</h2>
{% endblock %}

{% block buttontext %}Wyszukaj!{% endblock %}

{% block afterform %}

    {% if not wyniki %}

        {% if topic %}
            <h4>Dopasowano tytuł:</h4>
            <ul>
                {% for object in topic %}
                    <li>
                        {{ forloop.counter }}.
                        <a href="{% url 'document-detail' pk=object.id %}"> {{ object.topic }} </a>
                        <a href="{% url 'author-detail' pk=object.author.id %}">
                            <span class="glyphicon glyphicon-user"></span> {{ object.author.surname }} |</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Brak dopasowanych tytułów</h4>
        {% endif %}
        {% if lead %}
            <h4>Dopasowano lead:</h4>
            <ul>
                {% for object in lead %}
                    <li>
                        {{ forloop.counter }}.
                        <a href="{% url 'document-detail' pk=object.id %}"> {{ object.topic }} </a>
                         <a href="{% url 'document-detail' pk=object.id %}"> USUŃ </a>
                        <a href="{% url 'author-detail' pk=object.author.id %}">
                            <span class="glyphicon glyphicon-user"></span> {{ object.author.surname }} |</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Brak dopasowanych leadów</h4>
        {% endif %}
        {% if lead %}
            <h4>Dopasowano treść:</h4>
            <ul>
                {% for object in content %}
                    <li>
                        {{ forloop.counter }}.
                        <a href="{% url 'document-detail' pk=object.id %}"> {{ object.topic }} </a>
                        <a href="{% url 'author-detail' pk=object.author.id %}">
                            <span class="glyphicon glyphicon-user"></span> {{ object.author.surname }} |</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Brak dopasowanych treści</h4>
        {% endif %}
        {% if edition %}

            <h4>Dopasowano wydanie:</h4>
            {{ edition }}
            <ul>
                {% for object in edition.documents.all %}
                    <li>
                        {{ forloop.counter }}.
                        <a href="{% url 'document-detail' pk=object.id %}"> {{ object.topic }} </a>
                        <a href="{% url 'author-detail' pk=object.author.id %}">
                            <span class="glyphicon glyphicon-user"></span> {{ object.author.surname }} |</a>
                    </li>
                {% endfor %}

            </ul>
        {% else %}
            <h4>Brak dopasowanych wydań</h4>
        {% endif %}
    {% endif %}

    <h4>Ostatnio dodane dokumentacje:</h4>
    <ul>

        {% for object in documents %}
            <li>
                {{ forloop.counter }}.
                <a href="{% url 'document-detail' pk=object.id %}"> {{ object.topic }} </a>
                 <a href="{% url 'delete-document' pk=object.id %}"> <span class="glyphicon glyphicon-remove"></span>USUŃ </a>
                <a href="{% url 'author-detail' pk=object.author.id %}">
                    <span class="glyphicon glyphicon-user"></span> {{ object.author.surname }} |</a>
            </li>
        {% endfor %}

    </ul>


{% endblock %}

