{% extends 'base_form.html' %}

{% block beforeform %}
    <h2>Znajdź wydanie:</h2>
{% endblock %}

{% block buttontext %}Szukaj{% endblock %}

{% block afterform %}

    {% if edition %}
        <div class="container-list-outer">
            <div>Znaleziono wydanie:</div>
            <div class="container-list">
                <a href="{% url 'edition-detail' pk=edition.id %}"> {{ edition }} |</a>
                <a href="{% url 'user-detail' pk=edition.editor.id %}">
                    <span class="glyphicon glyphicon-user"></span> {{ edition.editor.last_name }} |</a><br>
                <a href="{% url 'update-edition' pk=edition.id %}">
                    <span class="glyphicon glyphicon-chevron-right"></span> Edytuj |</a>
                <a href="{% url 'delete-edition' pk=edition.id %}">
                    <span class="glyphicon glyphicon-remove"></span> Usuń |</a>

            </div>
        </div>

    {% else %}
        <div class="container-list-outer">
            <div> ...</div>
        </div>
    {% endif %}

    <div class="container-list-outer">
        <div>Ostatnie wydania:</div>
        {% for object in editions %}
            <div class="container-list">
                <a href="{% url 'edition-detail' pk=object.id %}"> {{ object }} |</a>
                <a href="{% url 'user-detail' pk=object.editor.id %}">
                    <span class="glyphicon glyphicon-user"></span> {{ object.editor.last_name }} |</a><br>
                <a href="{% url 'update-edition' pk=object.id %}">
                    <span class="glyphicon glyphicon-chevron-right"></span> Edytuj |</a>
                <a href="{% url 'delete-edition' pk=object.id %}">
                    <span class="glyphicon glyphicon-remove"></span> Usuń |</a>

            </div>
        {% endfor %}
    </div>


{% endblock %}