{% extends 'base_form.html' %}

{% block beforeform %}
    <h2>Znajdź gościa:</h2>
{% endblock %}

{% block buttontext %}Wyszukaj!{% endblock %}

{% block afterform %}


    {% if guests_list %}
        <div class="container-list-outer">
        <div>Dopasowano:</div>

            {% for object in guests_list %}
                    <div class="container-list">
                    <a href="{% url 'guest-detail' pk=object.id %}"> <span
                            class="glyphicon glyphicon-user"></span> {{ object.name }} {{ object.surname }} | tel. {{ object.phone }}
                        {% if object.alt_phone %} | tel/menadżer. {{ object.alt_phone }} {% endif %}</a>
                    </div>

            {% endfor %}

        </div>
    {% endif %}



    {% if not guests_list %}
        <div class="container-list-outer">
        <div> BRAK GOŚCI</div>
        </div>
    {% endif %}

    <div class="container-list-outer">
    <div>Ostatnio dodani: </div>

    {% for object in guests %}
        <div class="container-list">
        <a href="{% url 'guest-detail' pk=object.id %}"> <span
                class="glyphicon glyphicon-user"></span> {{ object.name }} {{ object.surname }} | tel. {{ object.phone }}
                        {% if object.alt_phone %} | tel/menadżer. {{ object.alt_phone }} {% endif %}</a>
        </div>

    {% endfor %}
    </div>


{% endblock %}

