{% extends 'base_form.html' %}

{% block beforeform %}
    <h2>Znajdź gościa:</h2>
{% endblock %}

{% block buttontext %}Wyszukaj!{% endblock %}

{% block afterform %}


    {% if guests_list %}
        <p>Dopasowano:</p>
        <ul>
            {% for object in guests_list %}
                <li>
                    <a href="{% url 'guest-detail' pk=object.id %}"> <span
                            class="glyphicon glyphicon-user"></span> {{ object.name }} {{ object.surname }} </a>
                </li>

            {% endfor %}
        </ul>
    {% endif %}



    {% if not guests_list %}
        <p> --- Brak gości--- </p>
    {% endif %}


    Ostatnio dodani:
    <ul>

        {% for object in guests %}
            <li>

                {{ forloop.counter }} <a href="{% url 'guest-detail' pk=object.id %}"> <span
                    class="glyphicon glyphicon-user"></span> {{ object.name }} {{ object.surname }} </a>

            </li>
        {% endfor %}

    </ul>

{% endblock %}

