{% extends 'base.html' %}

{% block content %}
    <p></p>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">WYDANIA</div>
            <div class="panel-body">
                <a href="{% url 'create-edition' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Dodaj nowe
                </a><br>
                <a href="{% url 'editions' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Szukaj </a>
            </div>
            <div class="panel-footer">
                <a href="{% url 'editions' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Wszystkie </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">DOKUMENTACJE</div>
            <div class="panel-body">
                <a href="{% url 'add-document' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Dodaj
                    nową</a><br>
                <a href="{% url 'documents' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Szukaj </a>
            </div>
            <div class="panel-footer">
                <a href="{% url 'documents' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Wszystkie </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">GOŚCIE</div>
            <div class="panel-body">
                <a href="{% url 'create-guest' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Dodaj gościa
                </a><br>
                <a href="{% url 'guests' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Szukaj</a>
            </div>
            <div class="panel-footer">
                <a href="{% url 'guests' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Wszyscy</a>
            </div>
        </div>
    </div>

    <p></p>
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">PROWADZĄCY</div>
            <div class="panel-body">
                <a href="{% url 'create-host' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Dodaj
                </a><br>
                <a href="{% url 'hosts' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Szukaj </a>
            </div>
            <div class="panel-footer">
                <a href="{% url 'hosts' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Wszyscy </a>
            </div>
        </div>
    </div>

    {% if perms.cms.add_user %}

        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">AUTORZY</div>
                <div class="panel-body">
                    <a href="{% url 'add-user' %}"> <span class="glyphicon glyphicon-chevron-right"></span>Dodaj</a><br>
                    <a href="{% url 'users' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Szukaj </a>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'users' %}"> <span class="glyphicon glyphicon-chevron-right"></span> Wszyscy </a>
                </div>
            </div>
        </div>

    {% else %}

        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">AUTORZY</div>
                <div class="panel-body">
                    <a href="{% url 'add-user' %}" class="not-active"> <span class="glyphicon glyphicon-chevron-right"></span>Dodaj</a><br>
                    <a href="{% url 'users' %}" > <span class="glyphicon glyphicon-chevron-right"></span> Szukaj </a>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'users' %}" > <span class="glyphicon glyphicon-chevron-right"></span> Wszyscy </a>
                </div>
            </div>
        </div>

    {% endif %}





    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">MOJE:</div>
            <div class="panel-body">
                <a href="{% url 'my' %}" > <span
                        class="glyphicon glyphicon-chevron-right"></span> Dokumentacje
                </a><br>
                <a href="{% url 'guests' %}" class="not-active"> <span class="glyphicon glyphicon-chevron-right"></span>
                  Wydania   </a>
            </div>
            <div class="panel-footer">
                <a href="{% url 'my' %}" > <span class="glyphicon glyphicon-chevron-right"></span>
                    Wszystkie</a>
            </div>
        </div>
    </div>


{% endblock %}