{% extends 'base_form.html' %}

{% block content %}

    <p>Wydania</p>
        <ul>
            {% for object in editions|dictsortreversed:"id" %}
            <li>
            <a href="{% url 'edition-detail' pk=object.id %}">Edytuj {{ object.date }}</a>
            </li>
            {% endfor %}
        </ul>

    <p>Autorzy</p>
        <ul>
            {% for object in authors|dictsortreversed:"id" %}
            <li>
            <a href="{% url 'author-detail' pk=object.id %}">Edytuj {{ object.surname }}</a>
            </li>
            {% endfor %}
        </ul>

    <p>Prowadzący</p>
        <ul>
            {% for object in hosts|dictsortreversed:"id" %}
            <li>
            <a href="{% url 'host-detail' pk=object.id %}">Edytuj {{ object.surname }}</a>
            </li>
            {% endfor %}
        </ul>



    <p>Goście</p>
        <ul>
            {% for object in guests|dictsortreversed:"id" %}
            <li>
            <a href="{% url 'guest-detail' pk=object.id %}">Edytuj {{ object.surname }}</a>
            </li>
            {% endfor %}
        </ul>

    <p>Dokumentacje</p>
        <ul>
            {% for object in documents|dictsortreversed:"id" %}
            <li>{{ object.topic }} :
                <a href="{% url 'document-detail' pk=object.id %}">Detal | </a>
                <a href="{% url 'update-document' pk=object.id %}">Edytuj </a>

            </li>
            {% endfor %}
        </ul>

{%  endblock %}