{% extends 'base.html' %}

{% block content %}

    <h2>Moje ostatnie dokumentacje:</h2>

    {% if not_published_documents %}

        <h3>Nieopublikowane:</h3>

            {% for object in not_published_documents %}
        <div class="container-list">
                    <a href="{% url 'document-detail' pk=object.id %}">
                        <span class="glyphicon glyphicon-book"></span> {{ object.topic }} </a><br>
                    <a href="{% url 'update-document' pk=object.id %}">
                        <span class="glyphicon glyphicon-chevron-right"></span> Edytuj </a> |
                    <a href="{% url 'delete-document' pk=object.id %}">
                        <span class="glyphicon glyphicon-remove"></span>USUŃ </a> |
                    Wydanie:  <a href="{% url 'edition-detail' pk=object.edition.id %}"> {{ object.edition.date }} </a> |<br>
        </div>
            {% endfor %}


    {% endif %}

        <h3>Opublikowane:</h3>


                {% for object in documents %}
                    <div class="container-list">
                        <a href="{% url 'document-detail' pk=object.id %}">
                            <span class="glyphicon glyphicon-book"></span> {{ object.topic }} </a><br>
                        <a href="{% url 'update-document' pk=object.id %}">
                            <span class="glyphicon glyphicon-chevron-right"></span> Edytuj </a> |
                        <a href="{% url 'delete-document' pk=object.id %}">
                            <span class="glyphicon glyphicon-remove"></span>USUŃ </a> |
                        Wydanie: <a href="{% url 'edition-detail' pk=object.edition.id %}"> {{ object.edition.date }} </a> | <br>
                    </div>
                {% endfor %}


    {% if editions %}
        <h3>Moje wydania:</h3>

            {% for object in editions %}
                <div class="container-list">
                    {{ forloop.counter }}.
                    <a href="{% url 'edition-detail' pk=object.id %}"> {{ object }} </a><br>

                </div>
            {% endfor %}


    {% endif %}



{% endblock %}

