{% extends 'base_form.html' %}

{% block buttontext %}Wyszukaj!{% endblock %}

{% block afterform %}


    {% if name %}
        <p>Imię :</p>
        <ul>
            {% for x in name %}
                <li>
            {{ x.name }} {{ x.surname }}
                </li>

            {% endfor %}
        </ul>
    {% endif %}
    {% if surname %}
        <p>Nazwisko :</p>
        <ul>
            {% for x in surname %}
                <li>
            {{ x.name }} {{ x.surname }}
                </li>

            {% endfor %}
        </ul>
    {% endif %}

    {% if not name and not surname %}

    <a href="{% url 'create-guest'  %}">DODAJ GOŚCIA </a>

    {% endif %}
{% endblock %}

